(edif swregwrp
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2015 2 13 7 54 2)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "I-2014.03M-SP1, mapper mapact, Build 1346R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1E1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
           (port E (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell swreg (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename prdata_c "PRDATA_c[1:0]") 2) (direction OUTPUT))
           (port (array (rename swcon_c "SWCON_c[1:0]") 2) (direction INPUT))
           (port PCLK_c_c (direction INPUT))
           (port PRESERN_c (direction INPUT))
           (port rd_enable (direction INPUT))
         )
         (contents
          (instance (rename data_out_1_0 "data_out_1[0]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename data_out_1_1 "data_out_1[1]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename PRDATA_c_0 "PRDATA_c[0]") (joined
           (portRef Q (instanceRef data_out_1_0))
           (portRef (member prdata_c 1))
          ))
          (net PCLK_c_c (joined
           (portRef PCLK_c_c)
           (portRef CLK (instanceRef data_out_1_1))
           (portRef CLK (instanceRef data_out_1_0))
          ))
          (net PRESERN_c (joined
           (portRef PRESERN_c)
           (portRef CLR (instanceRef data_out_1_1))
           (portRef CLR (instanceRef data_out_1_0))
          ))
          (net (rename SWCON_c_0 "SWCON_c[0]") (joined
           (portRef (member swcon_c 1))
           (portRef D (instanceRef data_out_1_0))
          ))
          (net rd_enable (joined
           (portRef rd_enable)
           (portRef E (instanceRef data_out_1_1))
           (portRef E (instanceRef data_out_1_0))
          ))
          (net (rename PRDATA_c_1 "PRDATA_c[1]") (joined
           (portRef Q (instanceRef data_out_1_1))
           (portRef (member prdata_c 0))
          ))
          (net (rename SWCON_c_1 "SWCON_c[1]") (joined
           (portRef (member swcon_c 0))
           (portRef D (instanceRef data_out_1_1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "swreg"))
       )
    )
    (cell swregwrp (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port PCLK (direction INPUT))
           (port PENABLE (direction INPUT))
           (port PSEL (direction INPUT))
           (port PRESERN (direction INPUT))
           (port PWRITE (direction INPUT))
           (port PREADY (direction OUTPUT))
           (port PSLVERR (direction OUTPUT))
           (port (array (rename pwdata "PWDATA[7:0]") 8) (direction INPUT))
           (port (array (rename prdata "PRDATA[7:0]") 8) (direction OUTPUT))
           (port (array (rename swcon "SWCON[1:0]") 2) (direction INPUT))
           (port (array (rename tps "TPS[4:0]") 5) (direction OUTPUT))
         )
         (contents
          (instance PCLK_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance PWRITE_pad_RNINCAD (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename TPS_pad_4 "TPS_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename TPS_pad_3 "TPS_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename TPS_pad_2 "TPS_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename TPS_pad_1 "TPS_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename TPS_pad_0 "TPS_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename SWCON_pad_1 "SWCON_pad[1]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename SWCON_pad_0 "SWCON_pad[0]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename PRDATA_pad_7 "PRDATA_pad[7]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename PRDATA_pad_6 "PRDATA_pad[6]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename PRDATA_pad_5 "PRDATA_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename PRDATA_pad_4 "PRDATA_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename PRDATA_pad_3 "PRDATA_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename PRDATA_pad_2 "PRDATA_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename PRDATA_pad_1 "PRDATA_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename PRDATA_pad_0 "PRDATA_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance PSLVERR_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance PREADY_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance PWRITE_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance PRESERN_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance PSEL_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance PENABLE_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance swreg_0 (viewRef netlist (cellRef swreg))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename PWDATA_0 "PWDATA[0]") (joined
           (portRef (member pwdata 7))
          ))
          (net (rename PWDATA_1 "PWDATA[1]") (joined
           (portRef (member pwdata 6))
          ))
          (net (rename PWDATA_2 "PWDATA[2]") (joined
           (portRef (member pwdata 5))
          ))
          (net (rename PWDATA_3 "PWDATA[3]") (joined
           (portRef (member pwdata 4))
          ))
          (net (rename PWDATA_4 "PWDATA[4]") (joined
           (portRef (member pwdata 3))
          ))
          (net (rename PWDATA_5 "PWDATA[5]") (joined
           (portRef (member pwdata 2))
          ))
          (net (rename PWDATA_6 "PWDATA[6]") (joined
           (portRef (member pwdata 1))
          ))
          (net (rename PWDATA_7 "PWDATA[7]") (joined
           (portRef (member pwdata 0))
          ))
          (net rd_enable (joined
           (portRef Y (instanceRef PWRITE_pad_RNINCAD))
           (portRef rd_enable (instanceRef swreg_0))
          ))
          (net PCLK (joined
           (portRef PCLK)
           (portRef PAD (instanceRef PCLK_pad))
          ))
          (net PENABLE (joined
           (portRef PENABLE)
           (portRef PAD (instanceRef PENABLE_pad))
          ))
          (net PSEL (joined
           (portRef PSEL)
           (portRef PAD (instanceRef PSEL_pad))
          ))
          (net PRESERN_c (joined
           (portRef Y (instanceRef PRESERN_pad))
           (portRef PRESERN_c (instanceRef swreg_0))
          ))
          (net PRESERN (joined
           (portRef PRESERN)
           (portRef PAD (instanceRef PRESERN_pad))
          ))
          (net PWRITE (joined
           (portRef PWRITE)
           (portRef PAD (instanceRef PWRITE_pad))
          ))
          (net PREADY (joined
           (portRef PAD (instanceRef PREADY_pad))
           (portRef PREADY)
          ))
          (net PSLVERR (joined
           (portRef PAD (instanceRef PSLVERR_pad))
           (portRef PSLVERR)
          ))
          (net (rename PRDATA_c_0 "PRDATA_c[0]") (joined
           (portRef (member prdata_c 1) (instanceRef swreg_0))
           (portRef D (instanceRef PRDATA_pad_0))
          ))
          (net (rename PRDATA_0 "PRDATA[0]") (joined
           (portRef PAD (instanceRef PRDATA_pad_0))
           (portRef (member prdata 7))
          ))
          (net (rename PRDATA_c_1 "PRDATA_c[1]") (joined
           (portRef (member prdata_c 0) (instanceRef swreg_0))
           (portRef D (instanceRef PRDATA_pad_1))
          ))
          (net (rename PRDATA_1 "PRDATA[1]") (joined
           (portRef PAD (instanceRef PRDATA_pad_1))
           (portRef (member prdata 6))
          ))
          (net (rename PRDATA_2 "PRDATA[2]") (joined
           (portRef PAD (instanceRef PRDATA_pad_2))
           (portRef (member prdata 5))
          ))
          (net (rename PRDATA_3 "PRDATA[3]") (joined
           (portRef PAD (instanceRef PRDATA_pad_3))
           (portRef (member prdata 4))
          ))
          (net (rename PRDATA_4 "PRDATA[4]") (joined
           (portRef PAD (instanceRef PRDATA_pad_4))
           (portRef (member prdata 3))
          ))
          (net (rename PRDATA_5 "PRDATA[5]") (joined
           (portRef PAD (instanceRef PRDATA_pad_5))
           (portRef (member prdata 2))
          ))
          (net (rename PRDATA_6 "PRDATA[6]") (joined
           (portRef PAD (instanceRef PRDATA_pad_6))
           (portRef (member prdata 1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef D (instanceRef PSLVERR_pad))
           (portRef D (instanceRef PRDATA_pad_2))
           (portRef D (instanceRef PRDATA_pad_3))
           (portRef D (instanceRef PRDATA_pad_4))
           (portRef D (instanceRef PRDATA_pad_5))
           (portRef D (instanceRef PRDATA_pad_6))
           (portRef D (instanceRef PRDATA_pad_7))
          ))
          (net (rename PRDATA_7 "PRDATA[7]") (joined
           (portRef PAD (instanceRef PRDATA_pad_7))
           (portRef (member prdata 0))
          ))
          (net (rename SWCON_c_0 "SWCON_c[0]") (joined
           (portRef Y (instanceRef SWCON_pad_0))
           (portRef (member swcon_c 1) (instanceRef swreg_0))
          ))
          (net (rename SWCON_0 "SWCON[0]") (joined
           (portRef (member swcon 1))
           (portRef PAD (instanceRef SWCON_pad_0))
          ))
          (net (rename SWCON_c_1 "SWCON_c[1]") (joined
           (portRef Y (instanceRef SWCON_pad_1))
           (portRef (member swcon_c 0) (instanceRef swreg_0))
          ))
          (net (rename SWCON_1 "SWCON[1]") (joined
           (portRef (member swcon 0))
           (portRef PAD (instanceRef SWCON_pad_1))
          ))
          (net PCLK_c_c (joined
           (portRef Y (instanceRef PCLK_pad))
           (portRef PCLK_c_c (instanceRef swreg_0))
           (portRef D (instanceRef TPS_pad_0))
          ))
          (net (rename TPS_0 "TPS[0]") (joined
           (portRef PAD (instanceRef TPS_pad_0))
           (portRef (member tps 4))
          ))
          (net (rename TPS_c_c_1 "TPS_c_c[1]") (joined
           (portRef Y (instanceRef PWRITE_pad))
           (portRef D (instanceRef TPS_pad_1))
           (portRef B (instanceRef PWRITE_pad_RNINCAD))
          ))
          (net (rename TPS_1 "TPS[1]") (joined
           (portRef PAD (instanceRef TPS_pad_1))
           (portRef (member tps 3))
          ))
          (net PSEL_c_c (joined
           (portRef Y (instanceRef PSEL_pad))
           (portRef D (instanceRef TPS_pad_2))
           (portRef A (instanceRef PWRITE_pad_RNINCAD))
          ))
          (net (rename TPS_2 "TPS[2]") (joined
           (portRef PAD (instanceRef TPS_pad_2))
           (portRef (member tps 2))
          ))
          (net (rename TPS_c_c_3 "TPS_c_c[3]") (joined
           (portRef Y (instanceRef PENABLE_pad))
           (portRef D (instanceRef TPS_pad_3))
          ))
          (net (rename TPS_3 "TPS[3]") (joined
           (portRef PAD (instanceRef TPS_pad_3))
           (portRef (member tps 1))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
           (portRef D (instanceRef PREADY_pad))
           (portRef D (instanceRef TPS_pad_4))
          ))
          (net (rename TPS_4 "TPS[4]") (joined
           (portRef PAD (instanceRef TPS_pad_4))
           (portRef (member tps 0))
          ))
         )
        (property orig_inst_of (string "swregwrp"))
       )
    )
  )
  (design swregwrp (cellRef swregwrp (libraryRef work)))
)
