(edif ledreg
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2015 2 6 9 12 53)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "F-2012.03M-SP1 , mapper mapact, Build 729R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell DFN1E1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
           (port E (direction INPUT)
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell ledreg (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port clk (direction INPUT)
 )
           (port nreset (direction INPUT))
           (port wr_en (direction INPUT))
           (port rd_en (direction INPUT))
           (port (array (rename data_in "data_in[7:0]") 8) (direction INPUT))
           (port (array (rename data_out "data_out[7:0]") 8) (direction OUTPUT))
           (port (array (rename led_port "led_port[7:0]") 8) (direction OUTPUT))
         )
         (contents
          (instance clk_pad (viewRef prim (cellRef CLKBUF (libraryRef smartfusion)))
          )
          (instance (rename ledioreg_0 "ledioreg[0]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename ledioreg_1 "ledioreg[1]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename ledioreg_2 "ledioreg[2]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename ledioreg_3 "ledioreg[3]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename ledioreg_4 "ledioreg[4]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename ledioreg_5 "ledioreg[5]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename ledioreg_6 "ledioreg[6]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename ledioreg_7 "ledioreg[7]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_0 "data_out[0]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_1 "data_out[1]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_2 "data_out[2]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_3 "data_out[3]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_4 "data_out[4]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_5 "data_out[5]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_6 "data_out[6]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename data_outZ0Z_7 "data_out[7]") (viewRef prim (cellRef DFN1E1C0 (libraryRef smartfusion)))
          )
          (instance (rename led_port_pad_7 "led_port_pad[7]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename led_port_pad_6 "led_port_pad[6]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename led_port_pad_5 "led_port_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename led_port_pad_4 "led_port_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename led_port_pad_3 "led_port_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename led_port_pad_2 "led_port_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename led_port_pad_1 "led_port_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename led_port_pad_0 "led_port_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_7 "data_out_pad[7]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_6 "data_out_pad[6]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_5 "data_out_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_4 "data_out_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_3 "data_out_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_2 "data_out_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_1 "data_out_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_out_pad_0 "data_out_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename data_in_pad_7 "data_in_pad[7]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename data_in_pad_6 "data_in_pad[6]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename data_in_pad_5 "data_in_pad[5]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename data_in_pad_4 "data_in_pad[4]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename data_in_pad_3 "data_in_pad[3]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename data_in_pad_2 "data_in_pad[2]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename data_in_pad_1 "data_in_pad[1]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename data_in_pad_0 "data_in_pad[0]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance rd_en_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance wr_en_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance nreset_pad (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net clk_c (joined
           (portRef Y (instanceRef clk_pad))
           (portRef CLK (instanceRef data_outZ0Z_7))
           (portRef CLK (instanceRef data_outZ0Z_6))
           (portRef CLK (instanceRef data_outZ0Z_5))
           (portRef CLK (instanceRef data_outZ0Z_4))
           (portRef CLK (instanceRef data_outZ0Z_3))
           (portRef CLK (instanceRef data_outZ0Z_2))
           (portRef CLK (instanceRef data_outZ0Z_1))
           (portRef CLK (instanceRef data_outZ0Z_0))
           (portRef CLK (instanceRef ledioreg_7))
           (portRef CLK (instanceRef ledioreg_6))
           (portRef CLK (instanceRef ledioreg_5))
           (portRef CLK (instanceRef ledioreg_4))
           (portRef CLK (instanceRef ledioreg_3))
           (portRef CLK (instanceRef ledioreg_2))
           (portRef CLK (instanceRef ledioreg_1))
           (portRef CLK (instanceRef ledioreg_0))
          ))
          (net clk (joined
           (portRef clk)
           (portRef PAD (instanceRef clk_pad))
          ))
          (net nreset_c (joined
           (portRef Y (instanceRef nreset_pad))
           (portRef CLR (instanceRef data_outZ0Z_7))
           (portRef CLR (instanceRef data_outZ0Z_6))
           (portRef CLR (instanceRef data_outZ0Z_5))
           (portRef CLR (instanceRef data_outZ0Z_4))
           (portRef CLR (instanceRef data_outZ0Z_3))
           (portRef CLR (instanceRef data_outZ0Z_2))
           (portRef CLR (instanceRef data_outZ0Z_1))
           (portRef CLR (instanceRef data_outZ0Z_0))
           (portRef CLR (instanceRef ledioreg_7))
           (portRef CLR (instanceRef ledioreg_6))
           (portRef CLR (instanceRef ledioreg_5))
           (portRef CLR (instanceRef ledioreg_4))
           (portRef CLR (instanceRef ledioreg_3))
           (portRef CLR (instanceRef ledioreg_2))
           (portRef CLR (instanceRef ledioreg_1))
           (portRef CLR (instanceRef ledioreg_0))
          ))
          (net nreset (joined
           (portRef nreset)
           (portRef PAD (instanceRef nreset_pad))
          ))
          (net wr_en_c (joined
           (portRef Y (instanceRef wr_en_pad))
           (portRef E (instanceRef ledioreg_7))
           (portRef E (instanceRef ledioreg_6))
           (portRef E (instanceRef ledioreg_5))
           (portRef E (instanceRef ledioreg_4))
           (portRef E (instanceRef ledioreg_3))
           (portRef E (instanceRef ledioreg_2))
           (portRef E (instanceRef ledioreg_1))
           (portRef E (instanceRef ledioreg_0))
          ))
          (net wr_en (joined
           (portRef wr_en)
           (portRef PAD (instanceRef wr_en_pad))
          ))
          (net rd_en_c (joined
           (portRef Y (instanceRef rd_en_pad))
           (portRef E (instanceRef data_outZ0Z_7))
           (portRef E (instanceRef data_outZ0Z_6))
           (portRef E (instanceRef data_outZ0Z_5))
           (portRef E (instanceRef data_outZ0Z_4))
           (portRef E (instanceRef data_outZ0Z_3))
           (portRef E (instanceRef data_outZ0Z_2))
           (portRef E (instanceRef data_outZ0Z_1))
           (portRef E (instanceRef data_outZ0Z_0))
          ))
          (net rd_en (joined
           (portRef rd_en)
           (portRef PAD (instanceRef rd_en_pad))
          ))
          (net (rename data_in_c_0 "data_in_c[0]") (joined
           (portRef Y (instanceRef data_in_pad_0))
           (portRef D (instanceRef ledioreg_0))
          ))
          (net (rename data_in_0 "data_in[0]") (joined
           (portRef (member data_in 7))
           (portRef PAD (instanceRef data_in_pad_0))
          ))
          (net (rename data_in_c_1 "data_in_c[1]") (joined
           (portRef Y (instanceRef data_in_pad_1))
           (portRef D (instanceRef ledioreg_1))
          ))
          (net (rename data_in_1 "data_in[1]") (joined
           (portRef (member data_in 6))
           (portRef PAD (instanceRef data_in_pad_1))
          ))
          (net (rename data_in_c_2 "data_in_c[2]") (joined
           (portRef Y (instanceRef data_in_pad_2))
           (portRef D (instanceRef ledioreg_2))
          ))
          (net (rename data_in_2 "data_in[2]") (joined
           (portRef (member data_in 5))
           (portRef PAD (instanceRef data_in_pad_2))
          ))
          (net (rename data_in_c_3 "data_in_c[3]") (joined
           (portRef Y (instanceRef data_in_pad_3))
           (portRef D (instanceRef ledioreg_3))
          ))
          (net (rename data_in_3 "data_in[3]") (joined
           (portRef (member data_in 4))
           (portRef PAD (instanceRef data_in_pad_3))
          ))
          (net (rename data_in_c_4 "data_in_c[4]") (joined
           (portRef Y (instanceRef data_in_pad_4))
           (portRef D (instanceRef ledioreg_4))
          ))
          (net (rename data_in_4 "data_in[4]") (joined
           (portRef (member data_in 3))
           (portRef PAD (instanceRef data_in_pad_4))
          ))
          (net (rename data_in_c_5 "data_in_c[5]") (joined
           (portRef Y (instanceRef data_in_pad_5))
           (portRef D (instanceRef ledioreg_5))
          ))
          (net (rename data_in_5 "data_in[5]") (joined
           (portRef (member data_in 2))
           (portRef PAD (instanceRef data_in_pad_5))
          ))
          (net (rename data_in_c_6 "data_in_c[6]") (joined
           (portRef Y (instanceRef data_in_pad_6))
           (portRef D (instanceRef ledioreg_6))
          ))
          (net (rename data_in_6 "data_in[6]") (joined
           (portRef (member data_in 1))
           (portRef PAD (instanceRef data_in_pad_6))
          ))
          (net (rename data_in_c_7 "data_in_c[7]") (joined
           (portRef Y (instanceRef data_in_pad_7))
           (portRef D (instanceRef ledioreg_7))
          ))
          (net (rename data_in_7 "data_in[7]") (joined
           (portRef (member data_in 0))
           (portRef PAD (instanceRef data_in_pad_7))
          ))
          (net (rename data_out_c_0 "data_out_c[0]") (joined
           (portRef Q (instanceRef data_outZ0Z_0))
           (portRef D (instanceRef data_out_pad_0))
          ))
          (net (rename data_out_0 "data_out[0]") (joined
           (portRef PAD (instanceRef data_out_pad_0))
           (portRef (member data_out 7))
          ))
          (net (rename data_out_c_1 "data_out_c[1]") (joined
           (portRef Q (instanceRef data_outZ0Z_1))
           (portRef D (instanceRef data_out_pad_1))
          ))
          (net (rename data_out_1 "data_out[1]") (joined
           (portRef PAD (instanceRef data_out_pad_1))
           (portRef (member data_out 6))
          ))
          (net (rename data_out_c_2 "data_out_c[2]") (joined
           (portRef Q (instanceRef data_outZ0Z_2))
           (portRef D (instanceRef data_out_pad_2))
          ))
          (net (rename data_out_2 "data_out[2]") (joined
           (portRef PAD (instanceRef data_out_pad_2))
           (portRef (member data_out 5))
          ))
          (net (rename data_out_c_3 "data_out_c[3]") (joined
           (portRef Q (instanceRef data_outZ0Z_3))
           (portRef D (instanceRef data_out_pad_3))
          ))
          (net (rename data_out_3 "data_out[3]") (joined
           (portRef PAD (instanceRef data_out_pad_3))
           (portRef (member data_out 4))
          ))
          (net (rename data_out_c_4 "data_out_c[4]") (joined
           (portRef Q (instanceRef data_outZ0Z_4))
           (portRef D (instanceRef data_out_pad_4))
          ))
          (net (rename data_out_4 "data_out[4]") (joined
           (portRef PAD (instanceRef data_out_pad_4))
           (portRef (member data_out 3))
          ))
          (net (rename data_out_c_5 "data_out_c[5]") (joined
           (portRef Q (instanceRef data_outZ0Z_5))
           (portRef D (instanceRef data_out_pad_5))
          ))
          (net (rename data_out_5 "data_out[5]") (joined
           (portRef PAD (instanceRef data_out_pad_5))
           (portRef (member data_out 2))
          ))
          (net (rename data_out_c_6 "data_out_c[6]") (joined
           (portRef Q (instanceRef data_outZ0Z_6))
           (portRef D (instanceRef data_out_pad_6))
          ))
          (net (rename data_out_6 "data_out[6]") (joined
           (portRef PAD (instanceRef data_out_pad_6))
           (portRef (member data_out 1))
          ))
          (net (rename data_out_c_7 "data_out_c[7]") (joined
           (portRef Q (instanceRef data_outZ0Z_7))
           (portRef D (instanceRef data_out_pad_7))
          ))
          (net (rename data_out_7 "data_out[7]") (joined
           (portRef PAD (instanceRef data_out_pad_7))
           (portRef (member data_out 0))
          ))
          (net (rename ledioreg_c_0 "ledioreg_c[0]") (joined
           (portRef Q (instanceRef ledioreg_0))
           (portRef D (instanceRef led_port_pad_0))
           (portRef D (instanceRef data_outZ0Z_0))
          ))
          (net (rename led_port_0 "led_port[0]") (joined
           (portRef PAD (instanceRef led_port_pad_0))
           (portRef (member led_port 7))
          ))
          (net (rename ledioreg_c_1 "ledioreg_c[1]") (joined
           (portRef Q (instanceRef ledioreg_1))
           (portRef D (instanceRef led_port_pad_1))
           (portRef D (instanceRef data_outZ0Z_1))
          ))
          (net (rename led_port_1 "led_port[1]") (joined
           (portRef PAD (instanceRef led_port_pad_1))
           (portRef (member led_port 6))
          ))
          (net (rename ledioreg_c_2 "ledioreg_c[2]") (joined
           (portRef Q (instanceRef ledioreg_2))
           (portRef D (instanceRef led_port_pad_2))
           (portRef D (instanceRef data_outZ0Z_2))
          ))
          (net (rename led_port_2 "led_port[2]") (joined
           (portRef PAD (instanceRef led_port_pad_2))
           (portRef (member led_port 5))
          ))
          (net (rename ledioreg_c_3 "ledioreg_c[3]") (joined
           (portRef Q (instanceRef ledioreg_3))
           (portRef D (instanceRef led_port_pad_3))
           (portRef D (instanceRef data_outZ0Z_3))
          ))
          (net (rename led_port_3 "led_port[3]") (joined
           (portRef PAD (instanceRef led_port_pad_3))
           (portRef (member led_port 4))
          ))
          (net (rename ledioreg_c_4 "ledioreg_c[4]") (joined
           (portRef Q (instanceRef ledioreg_4))
           (portRef D (instanceRef led_port_pad_4))
           (portRef D (instanceRef data_outZ0Z_4))
          ))
          (net (rename led_port_4 "led_port[4]") (joined
           (portRef PAD (instanceRef led_port_pad_4))
           (portRef (member led_port 3))
          ))
          (net (rename ledioreg_c_5 "ledioreg_c[5]") (joined
           (portRef Q (instanceRef ledioreg_5))
           (portRef D (instanceRef led_port_pad_5))
           (portRef D (instanceRef data_outZ0Z_5))
          ))
          (net (rename led_port_5 "led_port[5]") (joined
           (portRef PAD (instanceRef led_port_pad_5))
           (portRef (member led_port 2))
          ))
          (net (rename ledioreg_c_6 "ledioreg_c[6]") (joined
           (portRef Q (instanceRef ledioreg_6))
           (portRef D (instanceRef led_port_pad_6))
           (portRef D (instanceRef data_outZ0Z_6))
          ))
          (net (rename led_port_6 "led_port[6]") (joined
           (portRef PAD (instanceRef led_port_pad_6))
           (portRef (member led_port 1))
          ))
          (net (rename ledioreg_c_7 "ledioreg_c[7]") (joined
           (portRef Q (instanceRef ledioreg_7))
           (portRef D (instanceRef led_port_pad_7))
           (portRef D (instanceRef data_outZ0Z_7))
          ))
          (net (rename led_port_7 "led_port[7]") (joined
           (portRef PAD (instanceRef led_port_pad_7))
           (portRef (member led_port 0))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design ledreg (cellRef ledreg (libraryRef work)))
)
